.wrapper
  = render '/devise/shared/side_bar'
.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        test-group
      %ul.main-header__left-box__member-list
        member : &nbsp;
        %li.main-header__left-box__member-list__member
          user
    .main-header__edit-btn
      = link_to 'Edit', "/groups/#{@group.id}/edit"

  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker
          test-user
        %p.message__upper-info__date
          2019/10/25(thu)00:00:00
      .message__text
        test-text
  .form
    %form.new_message{action: "/", method: ""}
      .input-box
        %input.input-box__text{placeholder: "type a message", type: "text"}
        %label.input-box__image{for: "message_image"}
          %i.fa.fa-image
          %input.input-box__image__file{ type: "file", id: "message_image"}
      %input.submit-btn{ type: "submit", name: "commit", value: "Send"}